runtime:
  env: "dev"
server:
  name: "hopbox"
  grpcPort: "8080"
  httpPort: "8090"
database:
  user: "postgres"
  password: "secret"
  dbname: "hopbox"
  host: "127.0.0.1"
  sslmode: "disable"
  migrationPath: "file://storage/migration"
trace:
  collectorHost: "127.0.0.1:4317"
nexthop:
  host: ""
profile:
  host: "127.0.0.1:4040"
tls:
  enabled: "false"
  serverCrt: ""
  serverKey: ""
  clientCrt: ""
  clientKey: ""
  caCrt: ""
